/* Estilos modificando directamente las etiquetas */

body {
    background: var(--Base, #F7F5E6);
}

nav {
    background-color: #F7F5E6;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

main {
    height: 80vh;
}

footer{
    background-color: #1F2535;
    display: flex;
    width: 100%;
    min-height: 248px;
    padding: 5rem 10rem;
    align-items: flex-start;
    gap: 5rem;
}

h1 {
    color: #000;
    font-family: Poppins;
    font-weight: 600;
    line-height: 48.4px;
    letter-spacing: -1.02px;
    padding-right: 2rem;
    margin: 0;
}

h2 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

hr {
    stroke-width: 2px;
    height: 2px;
    border: none;
    background-color: gray;
}

.color_blanco{
    color: #FAFAFF;
}


.elemento_flooter{
    height: 100%;
}

/* Esta clase es para quitar la flecha hacia abajo de los desplegables */
.dropdown-toggle::after {
    border: 0;
}

.alto_maximo {
    height: 100%;
}

.ancho_maximo {
    width: 100%;
}

/* ----------------------------------------------------------------------- */

/* Estilos modificados para la etiqueta Main y clases usadas en ella */

.container_main {
    padding: 0;
    min-height: 80vh;
}

.menu__paragraph {
    color: #000;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.encabezado {
    display: flex;
    padding-top: 1rem;
    align-items: center;
}

.encabezado__search-form {
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    background-color: white;
    border-radius: 0.5rem;
}

.encabezado__search-input {
    width: 100%;
    padding: 0 0 0 20px;
    border: none;
    border-radius: 0.5rem 0 0 0.5rem;
    outline: none;
}

.encabezado__search-button {
    padding: 0 20px 0 0;
    border: none;
    border-radius: 0 0.5rem 0.5rem 0;
    background-color: white;
}

.sin-opciones {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
}

/* ----------------------------------------------------------------------- */

/*Estilos para vista de Inventario */

.registro-inventario {
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 16px;
    margin: 0;
    box-shadow: 0px 4px 24px 0px rgba(9, 8, 66, 0.04), 0px 2px 4px 0px rgba(9, 8, 66, 0.08);
}

/* ----------------------------------------------------------------------- */

/* Estilos para vista de registrarse */

/* Estilos comunes */
.registro__input,
.registro__select,
.registro__option,
.btn-general,
.btn-general--transparent,
.btn-general--contenido,
.btn-general--secundario,
.btn-general--eliminar {
    color: var(--light-grey, #e0e0ff);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    height: 56px;
    border-radius: 8px;
    border: 1px solid #415176;
    background-color: #1F2535;
}

/* Estilos específicos para el contenedor principal de registro */
.registro,
.ingreso {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
}

.registro__container,
.ingreso__container {
    position: fixed;
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para centrar */
    width: 533px;
    max-width: 90%; /* Para que se ajuste al ancho máximo de la pantalla */
    height: auto; /* Se ajustará automáticamente según el contenido */
    max-height: 90%; /* Evita que el contenido sea más alto que la pantalla */
    border-radius: 10px;
    background: #333a56;
    padding: 44px 90px;
}

.ingreso__container {
    padding: 0;
    max-height: 100%;
}

/* Estilos para el título del formulario de registro */
.registro__titulo {
    color: #fff;
    font-family: Inter;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.0;
    letter-spacing: -0.8px;
    margin-bottom: 20px;
}

/* Estilos para el placeholder de los inputs dentro del formulario de registro */
.registro__input::placeholder {
    color: var(--light-grey, #e0e0ff);
}

/* Estilos para los botones dentro del formulario de registro */
.btn-general,
.btn-general--transparent,
.btn-general--contenido,
.btn-general--secundario,
.btn-general--eliminar {
    width: 144px;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 24px;
    background-color: #333A56;
    width: auto;
    height: 3.6rem;
}

.btn-general--transparent {
    background-color: transparent;
    color: #333A56;
    border: none;
}

.btn-general--secundario {
    color: #171740;
    background: var(--lightestGrey, #FAFAFF);
    margin-left: 1rem;
    border: none;
}

.btn-general:hover,
.btn-general--contenido:hover,
.btn-general--eliminar:hover {
    background-color: #333A56;
    color: var(--light-grey, #e0e0ff);
    border-color: #415176;
    transition: none;
}

.btn-general--secundario:hover {
    color: #171740;
    background: var(--lightestGrey, #FAFAFF);
    transition: none;
}

.registro__close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 9999;
}

/* Estilos para el texto dentro del formulario de registro */
.registro__text {
    color: var(--Colores_Neutrales-Gris_Claro, #f2f2f2);
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    line-height: 16.8px;
}

/* Estilos específicos para la vista de ingreso */
.ingreso {
    padding: 0px;
}

.registro__padding {
    padding: 0 90px;
}

.ingreso__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos para los inputs y selects cuando están enfocados o al pasar el mouse sobre ellos */
.registro input.form-control:focus,
.registro select.form-select:focus,
.registro select.form-select:hover,
.ingreso input.form-control:focus {
    /* Esto asegura que los estilos se mantengan consistentes */
    color: var(--light-grey, #e0e0ff);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    height: 56px;
    border-radius: 8px;
    border: 1px solid #415176;
    background-color: #1F2535;
}

/* ----------------------------------------------------------------------- */

/* Estilos para vista de Inventario/InventarioCrear */

.inventario {
    position: relative;
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 16px;
    margin: 0;
    box-shadow: 0px 4px 24px 0px rgba(9, 8, 66, 0.04), 0px 2px 4px 0px rgba(9, 8, 66, 0.08);
    margin-right: 1rem;
    margin-top: 1rem;
}

.inventario__title {
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    color: var(--black, #171740);
}

.inventario__paragraph {
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--dark-grey, #242464);
}

.btn-group>.dropdown-menu {
    background-color: #333A56;
}

li > button > p {
    margin: 0;
    padding-left: 11px;
    color: white;
    font-family: Inter;
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1.125rem;
}

/* ----------------------------------------------------------------------- */

/* Estilos para vista de Entradas y Salidas */

.table {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap;
}

.btn-tabla-icono {
    padding: 0;
    color: var(--black, #171740);
    font-family: Inter;
    font-size: 0.875em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem;
}

/* Para poder colocar el color en el encabezado de la tabla*/

.table>:not(caption)>*>* {
    background: var(--Base, #F7F5E6);
}

/* ----------------------------------------------------------------------- */

/* Estilos para vista de Operaciones/Crear Entradas y Salidas*/

#btnGuardar-tabla {
    padding: 0.45rem 0.45rem;
    background-color: #333A56;
    color: white;
}

#btnGuardar-tabla img {
    filter: invert(100%);
}


/* ----------------------------------------------------------------------- */

/* Estilos para vista de Operaciones/Entradas y Salidas con opciones*/

.td-body-tabla {

    margin: 0;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
}

.td-body-tabla_opciones {
    margin: 0;
    padding-left: 32px;
    vertical-align: middle;
}

.td-body-tabla_categoria {
    margin: 0;
    padding-left: 32px;
}

/* Cambiar nombre de clases para estos estilos */

a.page-link {
    background-color: transparent;
    border: none;
}

a.page-link:hover {
    background-color: transparent;
    border: none;
}


/* ----------------------------------------------------------------------- */

/* Estilos para vista de Stock/Crear Producto*/

#th_input_nombreCategoria {
    margin-left: 30px;
    width: 50%;
}

.form-check-input:checked {
    background-color: #333A56;
    border-color: #333A56;
}

/* ----------------------------------------------------------------------- */


/* Estilos para vista de Stock/Categoria con opciones*/

.btn_editar_categoria {
    padding: 0;
    filter: invert(100%);
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.125rem;
}

.div_input_p_tabla {
    position: relative;
    display: flex;
    margin-left: 7.5px;
    align-items: center;
}

.p_div_input_p_tabla {
    margin: 0 0 0 12px;
}

/* ----------------------------------------------------------------------- */

/* Estilos para vista de Stock/Abastecimiento*/

.container_min_height {
    min-height: 100%;
}

#abastecimiento_columna_aviso_error {
    width: 10px;
    background-color: var(--Error, #F04C4C);
    border-radius: 5px 0 0 5px;
}

#abastecimiento_columna_aviso_advertencia {
    width: 10px;
    background-color: var(--Advertencia, #FF9900);
    border-radius: 5px 0 0 5px;
}

.texto_error,
.texto_advertencia {
    color: var(--Advertencia, #FF9900);
    font-family: Inter;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
}

.texto_error {
    color: var(--Error, #F04C4C);
}

/* ----------------------------------------------------------------------- */

/* Estilos para vista de Stock/Productos creados/Detalles del Producto*/

#imagen_ej_ddp {
    height: auto;
    max-width: 100%;
}

.contenedor-imagen {
    max-width: 100%;
    height: auto;
    padding-left: 5rem;
}

/* ----------------------------------------------------------------------- */

/* Estilos para vista de Estadisticas*/

.form-select_modificado,
#input_modificado {
    width: 325px;
    height: 48px;

    color: #666;
    font-family: Inter;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
}

/* ----------------------------------------------------------------------- */

/* Estilos para vista de Estadisticas/Estadistica 1*/

#h2_estadistica_01 {
    margin: 3.5rem 0;
}


/* ----------------------------------------------------------------------- */

/* Estilos para vista de Perfiles/Crear Perfil */

#registro_perfil {
    width: 374px;
    height: 535px;
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 16px;
    margin: 0;
    box-shadow: 0px 4px 24px 0px rgba(9, 8, 66, 0.04), 0px 2px 4px 0px rgba(9, 8, 66, 0.08);
}


/* ----------------------------------------------------------------------- */

/* Estilos para vista de Barra lateral*/

.color_inherit {
    color: inherit;
}

.offcanvas.offcanvas-end {
    padding-bottom: 72.31px;
    border-radius: 10px 0px 0px 10px;
    background-color: #333A56;
}

.offcanvas-header {
    padding: 15px 4px;
}

#titulo_menu_desplegable {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

#term_condi,
#politicas_priv,
#ajustes_usu,
#ayuda,
#cerrar_ses {
    padding: 16px 20px;
    border-bottom: 1px solid rgba(228, 228, 228, 0.20);
    margin: 12px 0px;
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
}

.offcanvas-header .btn-close {
    margin-left: 22rem;
}

.contenido_offcanvas {
    height: 100%;
}

/* ----------------------------------------------------------------------- */

/* Estilos para vista de Menu/Terminos y Condiciones*/

.element-with-padding{
    padding: 0 5rem;
}


.text-justify{
    text-align: justify;
}

/* ----------------------------------------------------------------------- */

/* Estilos para vista de Modales*/

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    background-color: #111111aa;
}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modal__container{
    position: fixed;
    top: 10%; /* Ajusta este valor según la posición vertical deseada */
    left: 50%;
    transform: translateX(-50%); /* Centra horizontalmente */
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 2.5em 2em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
}

.modal__title{
    font-size: 2.5rem;
}

.modal__paragraph{
    margin-bottom: 10px;
}

.modal__img{
    width: 20%;
    max-width: 300px;
}

.modal__button{
    text-decoration: none;
    color: #fff;
    background-color: #333A56;
    padding: 1em 3em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal__button:hover{
    color: #333A51;
    background-color: #fff;
}

.modal__close{
    position: fixed;
    top: 4%;
    right: 2%;
}


/* ----------------------------------------------------------------------- */

/* Medias las dejo de ultimas para que cargen bien el style */
/* media que va en  Entradas y Salidas*/
@media screen and (max-width: 1200px) {
    .btn-tabla-icono {
        font-size: 0.8em;
    }

    .btn-general--secundario,
    .btn-general--contenido {
        margin-left: 0;
        width: 100%;
        margin-top: 0.5rem;
    }

}

@media screen and (max-width: 991px) {
    .btn-tabla-icono {
        font-size: 0.78em;
    }

    .form-control {
        font-size: 0.8em;
    }

    .form-select {
        font-size: 0.7em;
    }

    #btnGuardar-tabla {
        padding: 0.3rem;
    }

    #btnGuardar-tabla img {
        width: 18px;
        height: 18px;
    }

    .table-responsible {
        overflow-x: auto;
    }

    .td-body-tabla {
        line-height: 28px;
    }

    .btn-contenido_invertido {
        margin-left: 0;
    }
    .element-with-padding{
        padding: 0 3rem;
    }
    
}

@media screen and (max-height: 700px) {
    .ingreso__img {
        height: 250px;
        border-radius: 10px 10px 0 0 ;
    }
}
