body {
    background: #F7F5E6;
    height: 100vh;
}

/* Estilos modificados para la etiqueta Nav y clases usadas en ella */
.nav-link {
    margin-right: 30%;
}

nav {
    background-color: #F7F5E6;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.container-fluid {
    padding: 0 1.5rem;
}

.navbar-expand-md {
    padding: 0 0 4px 0;
}

.dropdown-toggle::after {
    border: 0;
}

.personalizar-icono-usuario {
    font-size: 2rem;
    padding: 0;
}

/* ----------------------------------------------------------------------- */
/* estilo botones inicio */
#contenedor-botones {
    width: 235px;
}

#boton2 {
    background-color: #333A56;
    border: 3px solid #333A56;
    ;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

#boton1 {
    border: 3px solid #333A56;
    color: #333A56;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.container-medio {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    width: 1640px;
    height: 902px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: 112px;
}

#imagem_centro {
    box-shadow: 0px 4px 45px 40px rgba(0, 0, 0, 0.25);
    width: 1350px;
    margin-top: -210px;
}

.container-inferior {
    height: 20vh;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333A56;
    padding: 45px;
    text-align: center;
}

#lista_1 {
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: #FFF;
    display: flex;
    align-items: flex-start;
}

#lista_2 {
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    align-items: flex-start;
}

#container_i_1 {
    width: 180px;
    height: 120px;
}

#container_i_2 {
    width: 180px;
    height: 120px;
}


#fondo2{
    padding: 0px;
    filter:blur(10px);
}

/* ---------------------------------EMERGENTE--------------------------------- */
#titulo{
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 39.6px; 
    letter-spacing: -0.8px;
    margin-left: 22%;
    margin-bottom: 9%;
    margin-top: -15%;
}
#formulas{
    z-index: -1;
}

.almacen_principal {
    padding: 0px;
    position: relative;
}

#contenedor_fomulario{
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 5; 
    background: rgba(146, 145, 145, 0.2);
    backdrop-filter: blur(4px);
}

#formulario {
    width: 533px;
    height: 657px;
    border-radius: 5px;
    backdrop-filter: blur(1px);
    background: #333A56;
    position: absolute;
    top: 20%;
    left: 39%;
    padding: 98px;
    z-index: 8;
}

#tel,#msj,#email,#nombre {
    background: rgba(249, 249, 250, 0.1)
}

::placeholder {
    color: rgb(245, 245, 245) !important;
}

#cubo{
    border-radius: 8px;
    border: 1px solid #415176;
    background: #1F2535;
    width: 340px;
    height: 56px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
#caja{
    border-radius: 8px;
    border: 1px solid #415176;
    background: #1F2535;
    width: 144px;
    height: 56px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


    /* ----------------------------------------------------------------------- */
    /* Estilos modificados para la etiqueta Main y clases usadas en ella */
    main {
        height: 80vh;
    }

    .container_main {
        padding: 0;
    }

    h1 {
        color: #000;
        font-family: Poppins;
        font-weight: 600;
        line-height: 48.4px;
        letter-spacing: -1.02px;
        padding-right: 2rem;
        margin: 0;

    }

    .boton_busqueda {
        display: flex;
        justify-content: space-between;
        height: 3.5rem;
        background-color: white;
        border-radius: 0.5rem;
    }

    .prueba_boton_boton {
        padding: 0 20px 0 0;
        border: none;
        border-radius: 0 0.5rem 0.5rem 0;
        background-color: white;
    }

    .prueba_boton_input {
        width: 100%;
        padding: 0 0 0 20px;
        border: none;
        border-radius: 0.5rem 0 0 0.5rem;
        outline: none;
    }

    .titulo_btnbusqueda_main {
        display: flex;
        padding-top: 1rem;
        align-items: center;
        margin-left: -2rem;
    }

    hr {
        stroke-width: 2px;
        height: 2px;
        border: none;
        background-color: gray;
    }

    .container_contenido {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 81vh;
    }

    .container_contenido>h2 {
        font-family: inter;
    }

    /*Estilos para vista de Inventario */

    #container_inventarios {
        display: flex;
    }

    .container_formularios_inventario {
        background-color: white;
        padding: 1rem 1.5rem;
        border-radius: 16px;
        margin: 0;
        box-shadow: 0px 4px 24px 0px rgba(9, 8, 66, 0.04), 0px 2px 4px 0px rgba(9, 8, 66, 0.08);
    }

    .items-formularios {
        padding-bottom: 0.5rem;
    }

    .btn_formulario_inventario {
        height: 3.6rem;
        margin-top: 3rem;
        font-family: Inter;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5rem;
        background-color: #333A56;
        color: white;
        transition: none;
    }


    .btn_formulario_inventario:hover {
        background-color: #333A56;
        color: white;
    }

    /* ----------------------------------------------------------------------- */

    /* Estilos para vista de Inventario/InventarioCrear */

    .container_inventario_crear {
        position: relative;
        background-color: white;
        padding: 1rem 1.5rem;
        border-radius: 16px;
        margin: 0;
        box-shadow: 0px 4px 24px 0px rgba(9, 8, 66, 0.04), 0px 2px 4px 0px rgba(9, 8, 66, 0.08);
        margin-right: 1rem;
        margin-top: 1rem;
    }

    .container_inventario_crear>h3 {
        font-family: Inter;
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 2rem;
        color: var(--black, #171740);
    }

    .container_inventario_crear>p {
        font-family: Inter;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.5rem;
        color: var(--dark-grey, #242464);
    }

    .btn_inventario_crear {
        height: 3.6rem;
        margin-top: 3rem;
        font-family: Inter;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.5rem;
        background-color: #333A56;
        color: white;
    }


    .btn_inventario_crear:hover {
        background-color: #333A56;
        color: white;
    }

    .btn-group>.dropdown-menu {
        background-color: #333A56;
    }

    li>button>p {
        margin: 0;
        padding-left: 11px;
        color: white;
        font-family: Inter;
        font-size: 0.8125rem;
        font-weight: 500;
        line-height: 1.125rem;
    }


    /* ----------------------------------------------------------------------- */

    /* Estilos para vista de Entradas y Salidas */

    .btn-contenido {
        height: 56px;
        color: white;
        border-radius: 8px;
        background: var(--Brand-primary, #333A56);

        /* Estilos para el texto */
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        /* 133.333% */
    }

    .btn-contenido:hover {
        background-color: #333A56;
        color: white;
    }

    .btn-tabla-icono {
        padding: 0;
    }

    /*  */

    th {
        color: var(--black, #171740);
        font-family: Inter;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.125rem;
        /* 128.571% */
    }

    /* Politicas y privacidad */

    #ejemplo_id_css {
        width: 75rem;
        height: 58.375rem;
        flex-shrink: 0;
        color: #000;
        text-align: justify;
        font-family: Inter;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.5rem;
        font-style: normal;
        padding: 0 7%;
        margin-bottom: 20px;
    }

    /* Ajustes de Usuarios */

    .nombres {
        color: #000;
        font-family: Inter;
        font-size: 1.225rem;
        font-style: normal;
        font-weight: 600;
        line-height: 37.5px;
        letter-spacing: -1.02px;
        margin-left: -70%;
        margin-bottom: 7%;
    }

    h5 {
        margin-bottom: 2.5%;
    }

    #N1 {
        margin-top: 9%;
    }

    #ol1 {
        color: #000;
        text-align: justify;
        font-family: Inter;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
        margin-top: 24px;
    }

    #ol2 {
        margin-top: 37px;
        color: #000;
        text-align: justify;
        font-family: Inter;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
    }

    #espacios {
        margin-bottom: 2%;
    }

    .input-box {
        width: 20.4375rem;
        height: 3.75rem;
        flex-shrink: 0;
        margin-left: -25%;

    }

    #menu {
        width: 20.4375rem;
        height: 3.75rem;
        flex-shrink: 0;
    }

    li {
        list-style-type: none;
    }